# Configuration file for nbgrader.
# Supervisord is responsible for logging.
c = get_config()

c.Exchange.course_id = u'{{item.course_id}}'
c.Exchange.path_includes_course = True
c.Exchange.timezone = u'{{nbgrader_timezone}}'
